.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80%;
  overflow-y: scroll;
  border: none;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.popup-container::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
.booking_modal {
  width: 400px;
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 25px;
}
option {
  padding: 10px;
  font-size: 12px;
}

.worker_name {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.worker_info {
  text-align: center;
  margin-top: 10px;
  color: #666;
  font-size: 16px;
  margin-bottom: 25px;
}

.form_group {
  margin-bottom: 20px;
}

.form_group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.form_group input,
.form_group textarea,
.form_group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 13px;
}

.row {
  display: flex;
  gap: 20px;
}

.row .form_group {
  flex: 1;
}

.price_box {
  background: #f8f8f8;
  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

.price_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}

.total {
  font-weight: bold;
  font-size: 16px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.confirm_btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #f4a81c;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
}

.cancel_btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #111;
  border-radius: 10px;
  background: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
