* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  z-index: 3;
  background: radial-gradient(circle at center, #00a36726, #025bb526);
}
.container_box {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  width: 850px;
  position: relative;
  height: 630px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 25px;
  border: none;
  box-shadow:
    0px 10px 25px -5px #00000005,
    0 8px 16px -6px #00000005;
  gap: 40px;
}
.logo_img {
  width: 150px;
}
.login_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login_text {
  margin: 20px 0px 0px 0px;
  font-size: 34px;
  background: linear-gradient(135deg, #0f2537 40%, #146997 100%);
  background-clip: text;
  color: transparent;
}
.login_subtext {
  padding: 10px;
  font-weight: 500;
  color: #888888;
}
label {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #121a24;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #a4a9ae;
  color: #a4a9ae;
  padding: 10px;
}
.login_email {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.login_password {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.forgot_link {
  text-align: right;
  font-size: 12px;
  padding: 0px 10px;
  font-weight: 500;
}
.forgot {
  text-decoration: none;
  color: #0073e6;
}
.login_button {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  background-color: #0f2638;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  color: white;
}
.login_bot {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
}
.login_bot_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
  font-size: 12px;
}
.login_user_customer {
  font-weight: 500;
  text-decoration: none;
  width: 130px;
  height: 35px;
  border: 1px solid #e3e3e4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f2638;
  padding: 10px;
}
.login_user_worker {
  background-color: #0f2638;
  color: white;
  font-weight: 500;
  text-decoration: none;
  width: 110px;
  height: 35px;
  border: 1px solid #f2f6f8;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.login_image {
  width: 50%;
  height: 100%;
  box-shadow:
    0px 10px 25px -5px #00000005,
    0 8px 16px -6px #00000005;
  position: absolute;
  border-radius: 25px;
  transition: 0.35s ease-in-out;
  transform: translateX(0);
  inset: 0;
  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
.move_right {
  transform: translateX(100%);
}

.move_left {
  transform: translateX(0%);
}
.login_content {
  margin-top: 50px;
  width: 45%;
}
.login_content_worker {
  display: flex;
  width: 100%;
  overflow: hidden;
  > div {
    width: 100%;
  }
}
